<%= render 'shared/search_form' %>
<p class="headline">投稿一覧</p> 

<div class="post-list index-post-list">
  <%= render @posts %>
</div>

<div class="pagination-wrapper">
  <%= paginate @posts %>
</div>